* {
    box-sizing: border-box;
}

#header {
    margin: 0 auto;
    border-bottom:1px solid rgb(184, 184, 184);
    margin:0px;
    padding:0px 200px 0px 200px;
}

.headname {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#btnwrap {
    margin: 0 0 0 0;
    float: right;
}

.searchbtn {
    width: 36px;
    height: 36px;
    margin: 0px auto;
    border: 2px solid #CCD1E7;
    border-radius: 18px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    top:0px;
    left: 0px;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}


.userbtn {
    width: 36px;
    height: 36px;
    margin: 0px auto;
    border: 2px solid #CCD1E7;
    border-radius: 18px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    top:0px;
    left: 0px;
    background-image: url(sacamoto.jpg);
    background-repeat: no-repeat;
    background-size: 36px 36px;
    cursor: pointer;
}


.container {
    border-top :1px solid gray;
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
}