* {
    font-family: 'Nanum Myeongjo', serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
    box-sizing: border-box;
}

#header {
    margin: 0 auto;
    border-bottom:1px solid rgb(184, 184, 184);
    margin:20px 0px 0px 0px;
    padding:0px 400px 0px 400px;
}
#container {
    width: 1000px;
    height: 1400px;
    margin: 0px 0px 1000px 400px;
    background-color: azure;
    border-right:1px solid rgb(184, 184, 184);
}
.headname {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

#btnwrap {
    margin: 0 0 0 0;
    float: right;
}

.searchbtn {
    width: 36px;
    height: 36px;
    margin: 0px auto;
    border: 2px solid #CCD1E7;
    border-radius: 18px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    top:0px;
    left: 0px;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30px 30px;
    cursor: pointer;
}


.userbtn {
    width: 36px;
    height: 36px;
    margin: 0px auto;
    border: 2px solid #CCD1E7;
    border-radius: 18px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    top:0px;
    left: 0px;
    background-image: url(sacamoto.jpg);
    background-repeat: no-repeat;
    background-size: 36px 36px;
    cursor: pointer;
}

.menuwrap {
        font-family: 'Noto Sans KR', sans-serif;
}

.container {
    border-top :1px solid gray;
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
}
#clearification {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 1450px;
}

.writing {
    width: 250px;
    height: 400px;
}