body, html{
    padding: 0;
    margin: 0;

    /* div 박스 밖으로 나간 부분을 안보이게 해줌. */
    overflow: hidden; 
}

div{
    box-sizing: border-box; 
}

.wrap{
    padding: 1rem 3rem;
    width: 100vw;
    height: 100vh;
}

.logo{
    width:128;
    height:24;
    background-image: url("./title.png");
}
